.App {
  text-align: center;
  background-color: #121212;
  color: azure;
}
.imageCard{
  margin: auto 100px auto;
  background: rgb(55, 55, 55);
  padding: 100px 5px;
  border-radius: 15px;
  width: fit-content;
}
.technologyCard {
  background-color: #373737;
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
  border-radius: 15px;
  font-size: large;
}
.navbar{
  width: 100%;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  height: 40px;
}

.nav-item{
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  background-color: inherit;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  list-style: none;
}

.nav-item:hover {
  color: whitesmoke;
  background-color: #a7202bee;
}
.textCard{
  background-color: #373737;
  border-radius: 15px;
}
li{
  padding: 10px;}
.technology {
  width: 100px;
  height: 100px;
  /* border: #696969 solid 2px; */
  margin-top: 15px;
}
.ProjectCard{
  background-color: #373737;
  width: 66%;
  margin: auto;
  border-radius: 15px;
  font-size: large;
}
.App-header {
  background-color: #685630;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
